<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ex_templete"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ex_templete.SplashActivity1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ex_templete.YangPeiboActivity2"
            android:label="@string/title_activity_yang_peibo_activity2" >
        </activity>
        <activity android:name="com.example.ex_templete.LeadActivity3" >
        </activity>
        <activity
            android:name="com.example.ex_templete.Number4Activity"
            android:label="@string/title_activity_number4" >
        </activity>
        <activity android:name="com.example.ex_templete.ZwtActivity5" >
        </activity>
        <activity android:name="com.example.ex_templete.YeXiangActivity" >
        </activity>
        <activity android:name="com.example.ex_templete.LiyongMainActivity11" >
        </activity>
        <activity
            android:name="com.example.ex_templete.BaofengActivity6"
            android:label="@string/title_activity_baofeng_activity6" >
        </activity>
        <activity
            android:name="com.example.ex_templete.ChenJiaLiang7Activity"
            android:label="@string/title_activity_chen_jia_liang7" >
        </activity>
        <activity android:name="com.example.ex_templete.LiangtanActivity8" >
        </activity>
        <activity android:name="com.example.ex_templete.ChunGe1309Activity9" >
        </activity>
        <activity android:name="com.example.ex_templete.HuaCaiActivity10" >
        </activity>
        <activity
            android:name="com.example.ex_templete.RuanActivity10"
            android:label="@string/title_activity_ruan_activity10" >
        </activity>
        <activity
            android:name="com.example.ex_templete.HuaCaiActivity"
            android:label="@string/title_activity_ruan_activity10" >
        </activity>
        <activity
            android:name="com.example.ex_templete.ChunGe1309Activity"
            android:label="@string/title_activity_ruan_activity10" >
        </activity>
        <activity
            android:name="com.example.ex_templete.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.example.ex_templete.ShankeActivity"
            android:label="@string/title_activity_shanke" >
        </activity>
        <activity
            android:name="com.example.ex_templete.RubaobaoActivity"
            android:label="@string/title_activity_rubaobao" >
        </activity>
        <activity
            android:name="com.example.ex_templete.LolActivity"
            android:label="@string/title_activity_lol" >
        </activity>
        <activity
            android:name="com.example.ex_templete.LoLActivity2"
            android:label="@string/title_activity_lo_lactivity2" >
        </activity>
        <activity
            android:name="com.example.ex_templete.LoLActivity3"
            android:label="@string/title_activity_lo_lactivity3" >
        </activity>
        <activity
            android:name="com.example.ex_templete.YiXinActivity"
            android:label="@string/title_activity_yi_xin" >
        </activity>
        <activity
            android:name="com.example.ex_templete.SuibianActivity"
            android:label="@string/title_activity_suibian" >
        </activity>
        <activity
            android:name="com.example.ex_templete.XiYouJiActivity"
            android:label="@string/title_activity_xi_you_ji" >
        </activity>
        <activity
            android:name="com.example.ex_templete.HahaActivity"
            android:label="@string/title_activity_haha" >
        </activity>
        <activity
            android:name="com.example.ex_templete.HeheActivity"
            android:label="@string/title_activity_hehe" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.ex_templete.OOActivity"
            android:label="@string/title_activity_hehe" >
        </activity>
        <activity
            android:name="com.example.ex_templete.GengSuiBianActivity"
            android:label="@string/title_activity_geng_sui_bian" >
        </activity>
        <activity
            android:name="com.example._xinbo09.Xinbo09Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_xinbo09"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.ex_templete.WonderActivity"
            android:label="@string/title_activity_wonder" >
        </activity>
        <activity
            android:name="com.example.ex_templete.WangweiActivity"
            android:label="@string/title_activity_wangwei" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ex_templete.LwkActivity"
            android:label="@string/title_activity_lwk" >
        </activity>
        <activity
            android:name="com.example.ex_templete.AndyActivity"
            android:label="@string/title_activity_andy" >
        </activity>
        <activity
            android:name="com.example.ex_templete.Pager2Activity"
            android:label="@string/title_activity_pager2" >
        </activity>
        <activity
            android:name="com.example.ex_templete.OpxinActivity"
            android:label="@string/title_activity_opxin" >
        </activity>
        <activity
            android:name="com.example.ex_templete.CaoweiActivity"
            android:label="@string/title_activity_caowei" >
        </activity>
        <activity
            android:name="com.example.ex_templete.CHHActivity"
            android:label="@string/title_activity_chh" >
        </activity>
    </application>

</manifest>